.ce-block__content {
  h1 {
    font-size: 2rem;
    color: #46008c;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.5rem;
    color: #46008c;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.25rem;
    color: #46008c;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 1rem;
    color: #46008c;
    margin-bottom: 10px;
  }

  h5 {
    font-size: 1rem;
    color: #46008c;
    margin-bottom: 10px;
  }
}

.editor-container {
  background-color: #333;
  color: #fff;
}

.editor-container .ce-toolbar__content .ce-toolbar__plus {
  color: #fff;
}

.editor-container .ce-toolbar__content .ce-toolbar__settings-btn {
  color: #fff;
}
